---
layout: default
---
<section
  id="main"
  class="flex flex-col md:flex-row items-center justify-center py-16 md:h-screen border-b-2"
>
  <div class="md:mx-2">
    <img
      class="object-cover w-full h-full sm:w-80 sm:h-80 sm:rounded-full"
      src="{{ page.image | relative_url | default: 'https://ik.imagekit.io/ikmedia/avif_samples/photo3_avif_6O32dW2NT.png' }}"
      alt="{{ page.description }}"
    />
  </div>
  <div class="fadeIn mx-4 w-4/5 md:w-2/5 text-center md:text-left mt-6 md:mt-0">
    <div class="prose prose-h1:mb-1">{{ page.main_content | markdownify }}</div>
  </div>
</section>

<link rel="stylesheet" href="{{ '/assets/css/monokai.css' | relative_url }}">
<div class="container mx-auto">
  <div id="page" class="prose max-w-[75ch] prose-neutral mx-auto pb-10 pt-20 lg:pt-[90px] lg:pb-20">
    <h1 class="text-left text-2xl font-bold md:text-5xl text-black">{{page.title}}</h1>
    <div class="my-6">
      {{content}}
    </div>
  </div>
</div>
